In [14]:
import pandas as pd

This code does not work because its not in the same directory where the Jupyter is. Use the fullpath of the data instead. dataset = pd.read_csv("C:/Users/YourUsername/Documents/gdp_percapita.csv")

This code does not work because \D and \p in the file path are being interpreted as escape seq in python strings. dataset = pd.read_csv("C:/Users/YourUsername/Documents/gdp_percapita.csv")

In [ ]:
USE raw string (r"") or double backslahes (\\)

In [24]:
dataset = pd.read_csv(r"C:\DA14\projects\gdp-and-internet-usage-riyanjoy13\data\gdp_percapita.csv")

In [22]:
dataset = pd.read_csv("C:\\DA14\\projects\\gdp-and-internet-usage-riyanjoy13\\data\\gdp_percapita.csv")

In [ ]:
4. Using the pandas `read_csv()` method, read the GDP dataset into your notebook as a DataFrame called `gdp_df`. Take a look at the first few and last few rows to familiarize yourself with what is contained in this dataset.

In [67]:
dataset.head()

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2023  1992.424394              NaN
1     Afghanistan  2022  1981.710168              NaN
2     Afghanistan  2021  2144.166570              NaN
3     Afghanistan  2020  2769.685745              NaN
4     Afghanistan  2019  2927.245144              NaN

In [69]:
dataset.tail()

     Country or Area  Year        Value  Value Footnotes
8214        Zimbabwe  1994  3965.730986              NaN
8215        Zimbabwe  1993  3634.750494              NaN
8216        Zimbabwe  1992  3649.891947              NaN
8217        Zimbabwe  1991  4126.405247              NaN
8218        Zimbabwe  1990  4013.299059              NaN

In [ ]:
5. How many rows and columns are in `gdp_df`? What are the data types of each column?

In [50]:
print(gdp_df.shape)

(8219, 4)

In [52]:
print(gdp_df.dtypes)

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

In [62]:
print(gdp_df.shape)
print(gdp_df.dtypes)
display(gdp_df.head())

(8219, 4)
Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2023  1992.424394              NaN
1     Afghanistan  2022  1981.710168              NaN
2     Afghanistan  2021  2144.166570              NaN
3     Afghanistan  2020  2769.685745              NaN
4     Afghanistan  2019  2927.245144              NaN

6. Drop the `Value Footnotes` column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'.

In [72]:
gdp_df = gdp_df.drop(columns=['Value Footnotes'])

In [74]:
gdp_df.columns = ['Country', 'Year', 'GDP_Per_Capita']

In [76]:
print(gdp_df.head())

       Country  Year  GDP_Per_Capita
0  Afghanistan  2023     1992.424394
1  Afghanistan  2022     1981.710168
2  Afghanistan  2021     2144.166570
3  Afghanistan  2020     2769.685745
4  Afghanistan  2019     2927.245144

7. How many countries have data for all years? Which countries are missing many years of data? Look at the number of observations per year. What do you notice?

In [84]:
complete_data_countries = gdp_df.dropna(subset=['GDP_Per_Capita']).groupby('Country').size()
total_years = len(gdp_df['Year'].unique())
countries_with_all_years = complete_data_countries[complete_data_countries == total_years]
print(f"Countries with data for all years: \n{countries_with_all_years}")

Countries with data for all years:
Country
Africa Eastern and Southern    34
Africa Western and Central     34
Albania                        34
Algeria                        34
Andorra                        34
                               ..
Vanuatu                        34
Viet Nam                       34
World                          34
Zambia                         34
Zimbabwe                       34
Length: 228, dtype: int64

complete_data_countries = gdp_df.dropna(subset=['GDP_Per_Capita']).groupby('Country').size() -- this drops the NaN data.